.yereone-testimonials {
    text-align: center;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-image {
    padding: 150px 0 0;
    width: 150px;
    margin: 0 auto 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-image img {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%, 0);
}

.yereone-testimonials img[src*="avatar_placeholder_large.jpg"] {
    display: none;
}

.yereone-testimonials-slider .yereone-testimonial-item > div,
.yereone-testimonials-grid .yereone-testimonials-grid-right > div {
    margin-bottom: 10px
}

.yereone-testimonials-slider .slick-prev,
.yereone-testimonials-slider .slick-next {
    z-index: 2;
}

.yereone-testimonials-slider .slick-prev {
    left: 0;
}

.yereone-testimonials-slider .slick-next {
    right: 0;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-rating {
    text-align: center;
    margin-bottom: 20px;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-rating .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #c7c7c7;
    height: 20px;
    display: block;
    content: "\e908 \e908 \e908 \e908 \e908";
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    letter-spacing: 0;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-rating .rating-result > span:before {
    position: relative;
    z-index: 2;
    color: #3ba8ea;
    height: 20px;
    display: block;
    content: "\e908 \e908 \e908 \e908 \e908";
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    letter-spacing: 0;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-rating .rating-result {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-rating .rating-result > span {
    display: block;
    overflow: hidden;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social a {
    padding: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    color: #707070;
    border-radius: 100%;
    text-align: center;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social a:hover {
    color: #ffffff;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social .yereone-testimonial-social-facebook:hover {
    background: #3b5999;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social .yereone-testimonial-social-twitter:hover {
    background: #55acef;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social .yereone-testimonial-social-google-plus:hover {
    background: #dc4d3c;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social .yereone-testimonial-social-linkedin:hover {
    background: #0077b5;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-social .yereone-testimonial-social-youtube:hover {
    background: #e04e41;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-author {
    text-align: center;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-author span {
    font-weight: 400;
    font-size: 16px;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-title span {
    font-size: 17px;
}

.yereone-testimonials-grid {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.yereone-testimonials-grid .yereone-testimonial-item {
    width: 100%;
    margin-bottom: 40px;
}

.yereone-testimonials-grid .yereone-testimonial-item .yereone-testimonials-grid-left {
    margin: 0 auto;
}

.yereone-testimonial-image.no--image {
    display: none;
}

.yereone-testimonials-grid .yereone-testimonial-item .yereone-testimonials-grid-right {
}

.yereone-testimonials-grid .yereone-testimonial-item .yereone-testimonials-grid-right.yereone-testimonials-no-avatar {
    padding-left: 0;
    width: 100%;
}

.yereone-testimonials-grid .yereone-testimonials-toolbar {
    text-align: center;
    clear: both;
}

.yereone-testimonials-grid .yereone-testimonial-item.yereone-testimonial-item-margin {
    /*margin-right: 25px;*/
}

.yereone-testimonials-block-title {
    text-align: center;
    margin: 40px 0;
}

.yereone-testimonials-block-title h2 {
    font-size: 3.6rem;
    margin: 0;
}

.yereone-testimonials-block-title h2 span:after {
    content: " ";
    width: 20px;
    background: #3aa9e9;
    height: 3px;
    display: block;
    margin: 5px auto 0;
}

.testimonial .rating {
    width: 125px !important;
    overflow: hidden;
    padding: 10px 0 0;
}

.testimonial .rating span { 
    float: right;
    position:relative;
}

.testimonial .rating span input {
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.testimonial .rating span label:after {
    display: inline-block;
    color: #c7c7c7;
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 20px;
    content: "\e908";
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    letter-spacing: 0;
}

.testimonial .rating span:hover ~ span label:after,
.testimonial .rating span:hover label:after,
.testimonial .rating span.checked label:after,
.testimonial .rating span.checked ~ span label:after {
    color: #3ba8ea;
}

#testimonial-form .field.email span.note {
    font-size: 11px;
}

.yereone-testimonial-meta {
    text-align: right;
    color: #aaa;
}

.yereone-testimonial-content span {
    white-space: pre-line;
}

.yereone-testimonial-answer {
    white-space: pre-line;
    background: #f5fbfe;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0 0 30px;
    position: relative;
}

.yereone-testimonial-answer:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 20px;
    width: 0;
    height: 0;
    border-style: none solid solid;
    border-color: transparent transparent #f5fbfe;
    border-width: 0 10px 10px;
}

.yereone-testimonial-answer .author {
    text-align: right;
    color: #aaa;
}

.testimonials--btn-text {
    margin: 0 0 40px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px 10px 40px;
    position: relative;
}

/*.inputfile:focus + label,*/
/*.inputfile.has-focus + label {*/
    /*outline: 1px dotted #000;*/
    /*outline: -webkit-focus-ring-color auto 5px;*/
/*}*/

/*.inputfile + label * {*/
    /* pointer-events: none; */
    /* in case of FastClick lib use */
/*}*/

.inputfile + label:before {
    content: "\e909";
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em;
    position: absolute;
    left: 15px;
    top: 11px;
}

.inputfile-2 + label {
    color: #3aa9e9;
    border: 2px solid currentColor;
    border-radius: 25px;
    transition: color .3s;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #0492e6;
}

.testimonial.form .action.primary {
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    border-radius: 25px;
}

.testimonial.form .button[type="reset"] {
    background: transparent;
    border: none;
    padding: 0;
    border-bottom: 1px dotted;
    margin: 20px 0 0;
    border-radius: 0;
    color: #999;
    transition: color .3s;
}

.testimonial.form .button[type="reset"]:hover {
    color: #666;
}

@media (min-width: 768px) {
    .yereone-testimonials .yereone-testimonial-item .yereone-testimonial-author,
    .yereone-testimonials .yereone-testimonial-item .yereone-testimonial-rating {
        text-align: left;
    }

    .yereone-testimonials-grid .yereone-testimonial-item {
        display: flex;
    }

    .yereone-testimonials .yereone-testimonial-item .yereone-testimonial-image {
        margin: 0 20px 20px 0;
    }

    .yereone-testimonials-grid .yereone-testimonial-item .yereone-testimonials-grid-left {
        margin: 0 auto 0 0;
    }

    .yereone-testimonials-grid .yereone-testimonial-item .yereone-testimonials-grid-right {
        margin: 0 0 0 auto;
        width: 100%;
    }

    .testimonials--btn-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .testimonials--right {
        order: 1;
        margin: 0 0 0 20px;
    }

    .testimonial.form .button[type="reset"] {
        margin: 15px 0 0 20px;
    }
}

@media (min-width: 1024px) {
    .yereone-testimonials-grid {
        justify-content: space-between;
    }

    .yereone-testimonials-grid .yereone-testimonial-item {
        width: calc(50% - 10px);
    }

    .yereone-testimonial-image.no--image {
        display: block;
        visibility: hidden;
    }
}

.testimonials--btn {
    display: inline-block;
    background: #3ba8ea;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background .3s;
}

.testimonials--btn:hover {
    background: #049ad2;
}